{% extends "dataschema_app/base_schema.html" %}

{% block title %}Schemas list{% endblock %}

{% block content_title %}Data schemas{% endblock %}
{% block button %}<a href="{% url 'schema-create' %}">New schema</a>{% endblock %}

{% block content %}
{% if schemas_list %}
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Modified</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for schema in schemas_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'schema-dataset-list' schema.id %}">{{ schema.name }}</a></td>
            <td>{{ schema.modified }}</td>
            <td><a href="{% url 'schema-update' schema.id %}">Edit</a></td>
            <td><a href="{% url 'schema-delete' schema.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You don't have any data schemas yet. Press the button "New schema" for create one.</p>
{% endif %}
{% endblock %}